body {
  background-color: black;
  font-family: arial;
  color: white;
}

h1 {
  color: grey;
  font-family: verdana;
  text-align: center;
}

.maindiv {
  background-color: white;
  color: black;
  width: 500px;
  padding: 20px;
  border-radius: 25px;
  margin: auto;
}


.container {
  display: grid;
  width: 350px;
  margin: auto;
  row-gap: 0.6em;
}

.container > div {
  display: grid;
  grid-template-columns: 35% 65%;

}

#years {
  justify-self: start;
}


footer {
  padding-top: 10px;

}
