body {
  background-color: black;
  font-family: arial;
  color: white;
}

h1 {
  color: grey;
  font-family: verdana;
  text-align: center;
}

.maindiv {
  background-color: white;
  color: black;
  width: 500px;
  padding: 20px;
  border-radius: 25px;
  margin: auto;
}

form {
  width: 325px;
  margin: auto;
}

.formElement {
  display: grid;
  grid-template-columns: 40% 60%;
  justify-self: start;
  margin-bottom: 0.75em;
}

#years {
  justify-self: start;
}

#principal {
  justify-self: start;
}
