body {
  background-color: black;
  font-family: arial;
  color: white;
}

h1 {
  color: grey;
  font-family: verdana;
  text-align: center;
}

.maindiv {
  background-color: white;
  color: black;
  width: 500px;
  padding: 20px;
  border-radius: 25px;
  margin: auto;
}

/* Gave the container a grid display to easily lay out the rest of the form */
.container {
  display: grid;
  width: 350px;
  margin: auto;
  row-gap: 0.6em;
}

.container > div {
  display: grid;
  grid-template-columns: 35% 65%;

}

/* Justifying the years input reduces the size of the widget. */
#years {
  justify-self: start;
}


footer {
  padding-top: 10px;

}

/* This highlights the numbers when they are displayed with result span */
span > span {
  background-color: yellow;
}
